orchestrate.json
{
  "name": "CivicResolve",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 2605622,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": { "label": "cr_input_signal", "data": { "editable": "true" } }
          }
        },
        "parameters": [
          { "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true },
          { "name": "maxResults", "type": "number", "label": "Maximum number of results" }
        ],
        "interface": [
          { "name": "phase", "label": "Phase", "type": "text", "required": false, "multiline": false },
          { "name": "ticket_id", "label": "Ticket ID", "type": "text", "required": false, "multiline": false },
          {
            "name": "source", "label": "Source", "type": "collection", "required": false,
            "spec": [
              { "name": "channel", "label": "Channel", "type": "text", "required": false },
              { "name": "raw_id", "label": "Raw ID", "type": "text", "required": false },
              { "name": "url", "label": "URL", "type": "text", "required": false }
            ]
          },
          {
            "name": "issue", "label": "Issue", "type": "collection", "required": false,
            "spec": [
              { "name": "summary", "label": "Summary", "type": "text", "required": false },
              { "name": "category", "label": "Category", "type": "text", "required": false },
              { "name": "details", "label": "Details", "type": "text", "required": false }
            ]
          },
          {
            "name": "location", "label": "Location", "type": "collection", "required": false,
            "spec": [
              { "name": "lat", "label": "Lat", "type": "number", "required": false },
              { "name": "lon", "label": "Lon", "type": "number", "required": false },
              { "name": "address", "label": "Address", "type": "text", "required": false },
              { "name": "ward", "label": "Ward", "type": "text", "required": false }
            ]
          },
          {
            "name": "evidence", "label": "Evidence", "type": "collection", "required": false,
            "spec": [
              { "name": "photos", "label": "Photos", "type": "array", "required": false,
                "spec": { "type": "text", "required": false } },
              { "name": "links", "label": "Links", "type": "array", "required": false,
                "spec": { "type": "text", "required": false } }
            ]
          }
        ]
      },
      "success": [2]
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": { "else": 1 },
      "mapper": null,
      "metadata": { "designer": { "x": 300, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "util:SetVariables",
              "version": 1,
              "filter": {
                "name": "phase == SLA",
                "conditions": [[ { "a": "{{1.phase}}", "o": "text:equal", "b": "SLA" } ]]
              },
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  { "name": "phase", "value": "{{1.phase}}" },
                  { "name": "ticket_id", "value": "{{1.ticket_id}}" }
                ]
              },
              "metadata": { "designer": { "x": 600, "y": -300 } }
            },
            {
              "id": 4,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": { "handleErrors": false },
              "mapper": {
                "ca": "", "qs": [],
                "url": "__UPSTASH_REST_URL__/get/sla:{{3.ticket_id}}",
                "data": "",
                "gzip": true, "method": "get",
                "headers": [ { "name": "Authorization", "value": "Bearer __UPSTASH_REST_TOKEN__" } ],
                "timeout": "", "useMtls": false,
                "bodyType": "raw", "contentType": "application/json",
                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
              },
              "metadata": { "designer": { "x": 900, "y": -300 } }
            },
            {
              "id": 5,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": { "handleErrors": false },
              "mapper": {
                "ca": "", "qs": [],
                "url": "__NOTIFY_WEBHOOK__",
                "data": "{\n  \"type\":\"SLA_CHECK\",\n  \"ticket_id\":\"{{3.ticket_id}}\",\n  \"sla\":\"{{4.body}}\"\n}",
                "gzip": true, "method": "post",
                "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                "timeout": "", "useMtls": false,
                "bodyType": "raw", "contentType": "application/json",
                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
              },
              "metadata": { "designer": { "x": 1200, "y": -300 } }
            },
            {
              "id": 6,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": { "status": "200", "body": "{ \"status\":\"sla_branch_ok\", \"ticket_id\":\"{{3.ticket_id}}\" }", "headers": [] },
              "metadata": { "designer": { "x": 1500, "y": -300 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  { "name": "phase", "value": "{{if(empty(1.phase); \"INGEST\"; 1.phase)}}" },
                  { "name": "eventKey", "value": "{{coalesce(1.source.raw_id; 1.source.url; formatDate(now; \"x\"))}}:{{lower(1.source.channel)}}" },
                  { "name": "idemKey",  "value": "{{coalesce(1.source.raw_id; 1.source.url; formatDate(now; \"x\"))}}:{{lower(1.source.channel)}}" },
                  { "name": "mepp",
                    "value": "{ \"issue\": { \"summary\":\"{{1.issue.summary}}\", \"category\":\"{{1.issue.category}}\", \"details\":\"{{1.issue.details}}\" }, \"location\": { \"lat\": \"{{1.location.lat}}\", \"lon\":\"{{1.location.lon}}\", \"address_text\":\"{{1.location.address}}\", \"ward\":\"{{1.location.ward}}\" }, \"evidence\": { \"photos\": {{1.evidence.photos}}, \"links\": {{1.evidence.links}} }, \"provenance\": { \"channel\":\"{{1.source.channel}}\", \"raw_id\":\"{{coalesce(1.source.raw_id; 1.source.url; eventKey)}}\" } }"
                  }
                ]
              },
              "metadata": { "designer": { "x": 600, "y": 0 } }
            },
            {
              "id": 8,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": { "handleErrors": false },
              "mapper": {
                "ca": "", "qs": [],
                "url": "__UPSTASH_REST_URL__/get/event:{{7.eventKey}}",
                "data": "",
                "gzip": true, "method": "get",
                "headers": [ { "name": "Authorization", "value": "Bearer __UPSTASH_REST_TOKEN__" } ],
                "timeout": "", "useMtls": false,
                "bodyType": "raw", "contentType": "application/json",
                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
              },
              "metadata": { "designer": { "x": 900, "y": 0 } }
            },
            {
              "id": 9,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": { "else": 1 },
              "mapper": null,
              "metadata": { "designer": { "x": 1200, "y": 0 } },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 10,
                      "module": "util:SetVariables",
                      "version": 1,
                      "filter": {
                        "name": "duplicate event",
                        "conditions": [[ { "a": "{{8.body}}", "o": "text:notempty", "b": "" } ]]
                      },
                      "parameters": {},
                      "mapper": { "scope": "roundtrip", "variables": [ { "name": "status", "value": "duplicate_event_ignored" } ] },
                      "metadata": { "designer": { "x": 1500, "y": -150 } }
                    },
                    {
                      "id": 11,
                      "module": "gateway:WebhookRespond",
                      "version": 1,
                      "parameters": {},
                      "mapper": { "status": "200", "body": "{ \"status\":\"duplicate_event_ignored\", \"idemKey\":\"{{7.idemKey}}\" }", "headers": [] },
                      "metadata": { "designer": { "x": 1800, "y": -150 } }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 12,
                      "module": "http:MakeRequest",
                      "version": 4,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "ca": "", "qs": [],
                        "url": "__UPSTASH_REST_URL__/set/event:{{7.eventKey}}/{{formatDate(now; \"YYYY-MM-DDTHH:mm:ss[Z]\")}}?EX=86400",
                        "data": "",
                        "gzip": true, "method": "get",
                        "headers": [ { "name": "Authorization", "value": "Bearer __UPSTASH_REST_TOKEN__" } ],
                        "timeout": "", "useMtls": false,
                        "bodyType": "raw", "contentType": "application/json",
                        "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                        "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                      },
                      "metadata": { "designer": { "x": 1500, "y": 150 } }
                    },
                    {
                      "id": 13,
                      "module": "http:MakeRequest",
                      "version": 4,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "ca": "", "qs": [],
                        "url": "__SIDECAR_BASE_URL__/dedupe",
                        "data": "{ \"mepp\": {{7.mepp}} }",
                        "gzip": true, "method": "post",
                        "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                        "timeout": "", "useMtls": false,
                        "bodyType": "raw", "contentType": "application/json",
                        "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                        "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                      },
                      "metadata": { "designer": { "x": 1800, "y": 150 } }
                    },
                    {
                      "id": 14,
                      "module": "builtin:BasicRouter",
                      "version": 1,
                      "parameters": { "else": 1 },
                      "mapper": null,
                      "metadata": { "designer": { "x": 2100, "y": 150 } },
                      "routes": [
                        {
                          "flow": [
                            {
                              "id": 15,
                              "module": "gateway:WebhookRespond",
                              "version": 1,
                              "filter": {
                                "name": "is duplicate_of",
                                "conditions": [[ { "a": "{{13.body.duplicate_of}}", "o": "text:notempty", "b": "" } ]]
                              },
                              "parameters": {},
                              "mapper": { "status": "200", "body": "{ \"status\":\"duplicate_detected\", \"of\":\"{{13.body.duplicate_of}}\" }", "headers": [] },
                              "metadata": { "designer": { "x": 2400, "y": 0 } }
                            }
                          ]
                        },
                        {
                          "flow": [
                            {
                              "id": 16,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__SIDECAR_BASE_URL__/cluster",
                                "data": "{ \"mepp\": {{7.mepp}} }",
                                "gzip": true, "method": "post",
                                "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 2400, "y": 300 } }
                            },
                            {
                              "id": 17,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__SIDECAR_BASE_URL__/score",
                                "data": "{ \"mepp\": {{7.mepp}} }",
                                "gzip": true, "method": "post",
                                "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 2700, "y": 300 } }
                            },
                            {
                              "id": 18,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__SIDECAR_BASE_URL__/route",
                                "data": "{ \"mepp\": {{7.mepp}} }",
                                "gzip": true, "method": "post",
                                "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 3000, "y": 300 } }
                            },
                            {
                              "id": 19,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__SIDECAR_BASE_URL__/pack",
                                "data": "{ \"mepp\": {{7.mepp}}, \"gating\": {\"status\":\"action\"}, \"routing\": {{18.body}}, \"cluster\": {{16.body}} }",
                                "gzip": true, "method": "post",
                                "headers": [ { "name": "Content-Type", "value": "application/json" } ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 3300, "y": 300 } }
                            },
                            {
                              "id": 20,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__UPSTASH_REST_URL__/get/routing:{{18.body.dest}}",
                                "data": "",
                                "gzip": true, "method": "get",
                                "headers": [ { "name": "Authorization", "value": "Bearer __UPSTASH_REST_TOKEN__" } ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 3600, "y": 300 } }
                            },
                            {
                              "id": 21,
                              "module": "util:SetVariables",
                              "version": 1,
                              "parameters": {},
                              "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                  { "name": "connector_name", "value": "{{20.body}}" },
                                  { "name": "ticket_id", "value": "{{concat( if(connector_name = \"connector_cpgrams\"; \"CP-\"; if(connector_name = \"connector_tncm\"; \"TN-\"; \"SW-\")); formatDate(now; \"x\"))}}" },
                                  { "name": "mode", "value": "shadow" }
                                ]
                              },
                              "metadata": { "designer": { "x": 3900, "y": 300 } }
                            },
                            {
                              "id": 22,
                              "module": "http:MakeRequest",
                              "version": 4,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "ca": "", "qs": [],
                                "url": "__UPSTASH_REST_URL__/set/filed:{{7.idemKey}}",
                                "data": "{\"ticket_id\":\"{{21.ticket_id}}\",\"connector\":\"{{21.connector_name}}\",\"mode\":\"{{21.mode}}\"}",
                                "gzip": true, "method": "post",
                                "headers": [
                                  { "name": "Authorization", "value": "Bearer __UPSTASH_REST_TOKEN__" },
                                  { "name": "Content-Type", "value": "application/json" }
                                ],
                                "timeout": "", "useMtls": false,
                                "bodyType": "raw", "contentType": "application/json",
                                "serializeUrl": false, "shareCookies": false, "parseResponse": false,
                                "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true
                              },
                              "metadata": { "designer": { "x": 4200, "y": 300 } }
                            },
                            {
                              "id": 23,
                              "module": "gateway:WebhookRespond",
                              "version": 1,
                              "parameters": {},
                              "mapper": {
                                "status": "200",
                                "body": "{ \"status\":\"filed\", \"ticket_id\":\"{{21.ticket_id}}\", \"connector\":\"{{21.connector_name}}\", \"pack_pdf\":\"{{19.body.pdf_url}}\", \"pack_json\":\"{{19.body.json_url}}\" }",
                                "headers": []
                              },
                              "metadata": { "designer": { "x": 4500, "y": 300 } }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": { "roundtrips": 1, "maxErrors": 3, "autoCommit": true, "autoCommitTriggerLast": true, "sequential": false, "slots": null, "confidential": false, "dataloss": false, "dlq": false, "freshVariables": false },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com",
    "notes": []
  }
}